<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.onmyouji.mapper.ShikigamiMapper">

    <resultMap id="ShikigamiBaseMap" type="com.netease.onmyouji.entity.Shikigami">
        <id column="identifier" property="identifier" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="rarity" property="rarity" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="insertShikigami" parameterType="com.netease.onmyouji.entity.Shikigami"
            useGeneratedKeys="true"
            keyProperty="shikigami.identifier">
        INSERT INTO `t_shikigami` (
            `identifier`,
            `name`,
            `rarity`
        )
        VALUES (
            #{shikigami.identifier},
            #{shikigami.name},
            #{shikigami.rarity}
        )
    </insert>

    <delete id="deleteShikigami" parameterType="com.netease.onmyouji.entity.Shikigami">
        DELETE FROM `t_shikigami`
        WHERE (
            `identifier`= #{shikigami.identifier}
        )
    </delete>

    <update id="updateShikigami" parameterType="com.netease.onmyouji.entity.Shikigami">
        UPDATE `t_shikigami`
        SET
            `identifier` = #{shikigami.identifier},
            `name` = #{shikigami.name},
            `rarity` = #{shikigami.rarity}
        WHERE (
            `identifier`= #{shikigami.identifier}
        )
    </update>

    <select id="selectAllShikigamis" resultMap="ShikigamiBaseMap">
        SELECT * FROM `t_shikigami`
    </select>

    <select id="selectShikigamiByIdentifier" parameterType="int" resultMap="ShikigamiBaseMap">
        SELECT * FROM `t_shikigami`
        WHERE t_shikigami.identifier = #{identifier}
    </select>
</mapper>